<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="12041pepeizq.pepeizqsTilesforStreaming"
    Publisher="CN=E6A59F16-60E0-4B88-A8A1-993C16A63CD0"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>pepeizq&apos;s Tiles for Streaming</DisplayName>
    <PublisherDisplayName>pepeizq</PublisherDisplayName>
    <Logo>Images\Logos\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="pepeizq&apos;s Tiles for Streaming"
        Description="https://pepeizqapps.com/"
        BackgroundColor="#1a0303"
        Square150x150Logo="Images\Logos\Square150x150Logo.png"
        Square44x44Logo="Images\Logos\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Logos\Wide310x150Logo.png"  Square71x71Logo="Images\Logos\SmallTile.png" Square310x310Logo="Images\Logos\LargeTile.png"/>
        <uap:SplashScreen Image="Images\Logos\SplashScreen.png"  BackgroundColor="#1a0303"/>
        <uap:LockScreen BadgeLogo="Images\Logos\BadgeLogo.png" Notification="badge"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
